body{
  background-color: #141414;
  color: #ffffff;
  margin: 25px;
}

.titulo{
  color: #fd65a5;
  text-align: center;
}

.titulo::selection{
  background-color: #000000;
  color: #ffffff;
}

p{
  text-align: center;
}

.verde{
  color: #6fff87;
  font-size: 48px;
}

.vermelho{
  color: #ff0000;
  font-size: 48px;
}

.corAluno{
  color: #fd65a5;
}

.num{
  text-align: center;
}

li{
  list-style-type: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #040405;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fd65a5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
