body{
  background-color: #141414;
  color: #ffffff;
  margin: 25px;
}

*::selection{
  background-color: #8e6fff;
  color: #ffffff;
}

.tittleTest{
  /* text-align: end; */
  font-style: italic;
}

.titulo{
  color: #fd65a5;
  text-align: end;
  font-style: oblique;
}

.titulo::selection{
  background-color: #fd65a5;
  color: #ffffff;
}

.subtittle{
  background-color: gray;
  color: white;
  border-radius: 5px;
  font-style: oblique;
}

p{
  text-align: center;
}

.numContador{
  text-align: center;
  margin: 15px;
}

button{
  border-color: #141414;
  border-radius: 6px;
  color: #fd65a5;
  font-size: large;
  padding: 8px;
}

button:hover{
  background-color: #d3d3d3;
  box-shadow: 0 3px gray;  /* -> sombra na parte de baixo do botão */
  padding: 6px;
}

.verde{
  color: #6fff87;
  font-size: 20px;
}

.verdeButton{
  color: black;
  background-color: #6fff87;
  font-size: 20px;
}

.azul{
  color: #485aff;
  font-size: 20px;
}

.rosa{
  color: #fd65a5;
  font-size: 20px;
}

.corAluno{
  color: #485aff;
}

.num{
  text-align: center;
}

li{
  list-style-type: none;
}

.card{
  padding: 20px;
  display: inline-block;
  border-radius: 15px;
  background-color: #485aff;
  margin: 10px 0px 40px 10px;
}











/* =-=-=-=- */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #040405;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fd65a5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
